.btnStyles {
    vertical-align: middle!important;
    text-align: center!important;
    width: 100%;
    padding: 10px!important;
    font-size: 14px!important;
    font-weight: 400!important;
    background-color: black!important;
    color: #fff!important;
    
    box-shadow: 5px 10px 5px lightgrey!important
    
  }
  .btn-logo{
    vertical-align: middle;
    height: 20px;
      margin-bottom: 2px;
      margin-right: 6px;
  }

  .btn-box{
    /* margin-top: 30px; */
    display: flex;
    justify-content: center;
  }